# environnement virtuel
venv/

# pythons compilés
__pycache__/

#Jupyter Notebook
.ipynb_checkpoints

*.pkl
logs/

# Data qui seront gérés par DVC
/data/*.csv
/data/**/*.csv

# Modèles qui sera géré par DVC
/models/trained_rf_model.pkl
!/models/.gitkeep

# DVC
/tmp/dvcstore
