
# on garde les fichiers .dvc
!*.dvc

# les fichiers .gitkeep pour préserver la structure des dossiers
!.gitkeep

# on garde ce .gitignore
!.gitignore

# on garde les fichiers de config. DVC
!*.yaml
!*.yml
!*.json

